name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.0-beta.1
    - name: Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install
    - name: Lint
      run: |
        pylint src/rtmilk tests --disable=fixme
    - name: Tests
      env:
        RTM_API_KEY: ${{ secrets.RTM_API_KEY }}
        RTM_SHARED_SECRET: ${{ secrets.RTM_SHARED_SECRET }}
        RTM_TOKEN: ${{ secrets.RTM_TOKEN }}
      run: |
        pytest --cov=src
        coverage xml
    - name: Coverage
      uses: codecov/codecov-action@v2.1.0
