name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Dependencies
      run: |
        curl -sSL https://install.python-poetry.org | python -
        poetry config virtualenvs.create false
        poetry install
    - name: Lint
      run: |
        poe lint
    - name: Tests
      env:
        RTM_API_KEY: ${{ secrets.RTM_API_KEY }}
        RTM_SHARED_SECRET: ${{ secrets.RTM_SHARED_SECRET }}
        RTM_TOKEN: ${{ secrets.RTM_TOKEN }}
      if: ${{needs.secrets.outputs.valid}} == 'true'
      run: |
        if python --version | grep -q 'Python 3.11' ; then
          poe test-with-coverage
        fi
    - name: Coverage
      uses: codecov/codecov-action@v2.1.0
